## Data Encoding

1.Nominal/OHE Encoding

2.Label and Ordinal Encoding

3.Target Guided Ordinal Encoding

## Nominal/OHE Encoding

One hot encoding,also known as nominal encoding,is a techinque used to represent categorical data as numerical,which is more suitable for machine learning alogrithm.In this techinque,each category is represented as binary vector where each bit corresponding to a unique category.

1.RED[1,0,0]

2.Green[0,1,0]

3.Blue[0,0,1]

In [22]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [23]:
## Create a datdframe
df=pd.DataFrame({
    'color':['red','blue','green','green','red','blue']
})

In [24]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [25]:
## Create an instace of onehotencoder
encoder=OneHotEncoder()

In [26]:
## perform fit and then transform
encoded=encoder.fit_transform(df[['color']]).toarray()

In [27]:
import pandas as pd
encoded_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [28]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [29]:
## for new data
encoder.transform([['blue']]).toarray()

c:\Users\91817\Desktop\Python AI&ML\venve\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [30]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [31]:
import seaborn as sns
sns.load_dataset('tips')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [32]:
encoder_tips=OneHotEncoder()

In [ ]:
encoded_tips=encoder_tips.fit_transform(df[['']]).toarray()