In [23]:
import numpy as np
import pandas as pd

np.random.seed(123)
## Create a dataframe with two classes
n_sample=1000
class_0_ratio=0.9
n_class_0=int(n_sample*class_0_ratio)
n_class_1=n_sample-n_class_0

In [24]:
n_class_0,n_class_1

(900, 100)

In [25]:
## Create My Dataframe With Imbalanced Dataset
class_0=pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
    
})
class_1=pd.DataFrame({
    'feature1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1]*n_class_1
    
})

In [26]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)
df.head()

   feature1  target
0  0.551302       0
1  0.419589       0
2  1.815652       0
3 -0.252750       0
4 -0.292004       0

In [27]:
df.tail()

     feature1  target
995  2.845701       1
996  0.880077       1
997  1.640703       1
998  0.390305       1
999  2.013570       1

In [28]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [29]:
## upsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [30]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_majority,replace=True,
    n_samples=len(df_majority),
    random_state=42
)

In [31]:
df_minority_upsampled.shape

(900, 2)

In [32]:
df_sub=pd.concat([df_minority,df_minority_upsampled])

In [33]:
df_sub['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [36]:
## Down sampling
class_0=pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
    
})
class_1=pd.DataFrame({
    'feature1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1]*n_class_1
    
})

df=pd.concat([class_0,class_1]).reset_index(drop=True)

print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [37]:
## downsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [38]:
from sklearn.utils import resample
df_mjority_downsampled=resample(df_majority,replace=False,
    n_samples=len(df_minority),
    random_state=42
)

In [39]:
df_mjority_downsampled.shape

(100, 2)

In [40]:
df_downsampled=pd.concat([df_minority,df_mjority_downsampled])

In [41]:
df_downsampled.target.value_counts()

target
1    100
0    100
Name: count, dtype: int64