## SQL And SQLite

SQL(Structured Query Language) is a standard language for managing and relational databases.SQLite is a self-contained,serveless,and zero-configuration database engine that is wiedly used for embedded database system.

In [7]:
import sqlite3

In [8]:
## Coonect to an SQLite database
connection=sqlite3.connect('example.db')
connection

In [9]:
cursor=connection.cursor()

In [12]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
)       
''')

# Commit the changes
connection.commit()

In [14]:
cursor.execute('''
Select * From Employees

''')

In [19]:
## INsert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
            values('Krish',32,'Data Scientist')
 ''')
cursor.execute('''
Insert Into employees(name,age,department)
values('Krish',32,'Data Scientist')
''')
cursor.execute('''
Insert Into employees(name,age,department)
values('Krish',32,'Data Scientist')
''')

connection.commit()

In [20]:
## Query the data from the table
cursor.execute('Select * From employees')
rows=cursor.fetchall()

## Print the query data
for row in rows:
    print(rows)

[(1, 'Krish', 32, 'Data Scientist'), (2, 'Krish', 32, 'Data Scientist'), (3, 'Krish', 32, 'Data Scientist')]
[(1, 'Krish', 32, 'Data Scientist'), (2, 'Krish', 32, 'Data Scientist'), (3, 'Krish', 32, 'Data Scientist')]
[(1, 'Krish', 32, 'Data Scientist'), (2, 'Krish', 32, 'Data Scientist'), (3, 'Krish', 32, 'Data Scientist')]

In [22]:
## UPdate the data in the table
cursor.execute('''
Update employees
set age=34
where name="krish"

''')
connection.commit()

In [23]:
## Delete the data from the table
cursor.execute('''
Delete from employees
where name='krish'
               ''')
connection.commit()

In [24]:
cursor.execute('Select * From employees')
rows=cursor.fetchall()

## Print the query data
for row in rows:
    print(rows)

[(1, 'Krish', 32, 'Data Scientist'), (2, 'Krish', 32, 'Data Scientist'), (3, 'Krish', 32, 'Data Scientist')]
[(1, 'Krish', 32, 'Data Scientist'), (2, 'Krish', 32, 'Data Scientist'), (3, 'Krish', 32, 'Data Scientist')]
[(1, 'Krish', 32, 'Data Scientist'), (2, 'Krish', 32, 'Data Scientist'), (3, 'Krish', 32, 'Data Scientist')]